body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #d0b7646c;
  margin: 30px;
}

.title {
  text-align: center;
  font-size: 30px;
  border: black 10px dotted;
  background-color: white;
  margin-bottom: 50px;
}

.images {
  text-align: center;
  padding-bottom: 50px;
}

.flex-container {
  display: flex;
  border: black 5px solid;
  flex: 1;
}

.hi

.flex-button{
  flex: 1;
}

.flex-container .courses {
  background-color: white;
  flex: 1;
  border: black solid;
  padding: 10px;
  gap: 20px;
}

